
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmationLivre</title>
</head>
<body>
    <div>
        <h1>Livre créer</h1>
        <p></p>
        <p></p>

        <input href="@Url.Action("Accueil")" type="submit" value="Accueil" : />
        <input  href="@Url.Action("Accueil")" type="submit" value="Consulter La FicheAccueil" : />
    </div>

    
</body>
</html>
